body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* 로딩 */
#loading {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 헤더 */
header {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  width: 60%;
}

/* 카드 */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* 앱 뷰어 */
#viewer {
  position: fixed;
  inset: 0;
  background: #000;
  display: none;
  flex-direction: column;
}

#topbar {
  background: #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#back {
  cursor: pointer;
  color: #38bdf8;
}

iframe {
  flex: 1;
  border: none;
}
